@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    overflow-x: hidden;
  }

  body {
    @apply font-sans antialiased;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
  }

  img {
    image-rendering: auto;
    -ms-interpolation-mode: bicubic;
  }
}
